[user]
  name = Shoei Takamaru
[core]
  editor = /usr/bin/vim
  autocrlf = input
  pager = less -r
[alias]
  co = checkout
  ci = commit -a
  st = status
  br = branch
  pick = cherry-pick
  lg = log --abbrev-commit --relative-date --decorate --pretty
  lgg = log --abbrev-commit --relative-date --decorate --pretty --graph
[color]
  ui = auto
[push]
  default = simple
