[user]
  name = Shoei Takamaru
[core]
  editor = /usr/bin/vim
  autocrlf = input
  pager = less -r
[alias]
  co = checkout
  ci = commit -a
  st = status
  br = branch
  pick = cherry-pick
  lg = log --abbrev-commit --relative-date --decorate --pretty
  lgg = log --abbrev-commit --relative-date --decorate --pretty --graph
  lgol = log --abbrev-commit --relative-date --decorate --pretty --oneline
[color]
  ui = auto
[push]
  default = simple
[pull]
  rebase = true
[fetch]
  prune = true
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
