@charset "UTF-8";

body, select, input {
  font-family: 'Segoe UI', 'MeiryoKe_PGothic';
}

pre {
  font-family: 'Monaco';
}

@font-face {
  font-family: "MS PGothic";
  src: local("Segoe UI");
  unicode-range: U+0000-007F;
}


@font-face {
  font-family: "MS PGothic";
  src: local("MeiryoKe_PGothic");
  unicode-range: U+0080-FFFF;
}

@font-face {
  font-family: "ＭＳ Ｐゴシック";
  src: local("Segoe UI");
  unicode-range: U+0000-007F;
}


@font-face {
  font-family: "ＭＳ Ｐゴシック";
  src: local("MeiryoKe_PGothic");
  unicode-range: U+0080-FFFF;
}

@font-face {
  font-family: "MS P Gothic";
  src: local("MeiryoKe_PGothic");
  unicode-range: U+0080-FFFF;
}

@font-face {
  font-family: "MS UI Gothic";
  src: local("Segoe UI");
  unicode-range: U+0000-007F;
}

@font-face {
  font-family: "MS UI Gothic";
  src: local("Meiryo UI");
  unicode-range: U+0080-FFFF;
}

@font-face {
  font-family: "ＭＳ ゴシック";
  src: local("Consolas");
  unicode-range: U+0000-007F;
}


@font-face {
  font-family: "ＭＳ ゴシック";
  src: local("MeiryoKe_Gothic");
  unicode-range: U+0080-FFFF;
}


@font-face {
  font-family: "MS Gothic";
  src: local("Consolas");
  unicode-range: U+0000-007F;
}


@font-face {
  font-family: "MS Gothic";
  src: local("MeiryoKe_Gothic");
  unicode-range: U+0080-FFFF;
}

@font-face {
  font-family: "open sans";
  src: local("Segoe UI");
  unicode-range: U+0000-007F;
}


@font-face {
  font-family: "open sans";
  src: local("MeiryoKe_PGothic");
  unicode-range: U+0080-FFFF;
}

@font-face {
  font-family: "sans-serif";
  src: local("Segoe UI");
  unicode-range: U+0000-007F;
}

@font-face {
  font-family: "sans-serif";
  src: local("MeiryoKe_PGothic");
  unicode-range: U+0080-FFFF;
}

@font-face {
  font-family: "arial";
  src: local("Segoe UI");
  unicode-range: U+0000-007F;
}

@font-face {
  font-family: "arial";
  src: local("MeiryoKe_PGothic");
  unicode-range: U+0080-FFFF;
}
